@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menu */

.menu--show {
  visibility: visible!important;
  opacity: 1!important;
}

/* Lightbox */

@import '@src/css/plugins/lightbox.css';

/* Swiper */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.swiper-pagination {
  position: static!important;
  text-align: center!important;
  transition: .3s all!important;
  margin: 12px 0 0 0!important;
}
.swiper-pagination > .swiper-pagination-bullet {
  display: inline-block!important;
  width: 12px!important;
  height: 12px!important;
  border: 1px solid #4E565A!important;
  border-radius: 50%!important;
  margin: 0 8px!important;
  background-color: #fff!important;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #4E565A!important;
}
.swiper-button-prev, .swiper-button-next {
  background-color: rgba(72, 106, 152, 0.40);
  padding: 10px 5px;
  display: block;
  width: auto;
  height: auto;
  border-radius: 5px;
}
.swiper-button-prev::after, .swiper-button-next::after {
  color: #ffffff;
}

@layer base {
  .blackout {
    position: relative;
  }
  .blackout::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 15;
    width: 100%;
    height:100%;
    transition: .3s all ease-in;
  }
  .news-list > li:last-child {
    display: block;
  }
  .load-more {
    @apply w-max flex gap-2 items-center py-2 px-3 bg-blue-dark-100 rounded shadow-black mx-auto my-4 text-white text-base lg:text-lg font-sans font-normal;
  }
  .load-more::after {
    @apply h-6 w-6 text-white bg-blue-dark-light shadow-black rounded-sm p-1 bg-no-repeat bg-center;
    content: '';
    background-size: 20px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 17l-4 4m0 0l-4-4m4 4V3' /%3E%3C/svg%3E");
  }
  @media(max-width: 640px) {
    .news-list > li:last-child {
      display: none;
    }
  }
}

@layer components {

}

@layer utilities {
  .blackout--primary::after {
    @apply bg-blue-dark-60;
  }
  .blackout--blue::after {
    @apply bg-blue-gr-60;
  }
  .blackout--pink::after {
    @apply bg-pink-light;
  }
  .blackout--dark-blue::after {
    @apply bg-blue-gr-70;
  }
  .blackout--gradient::after {
    @apply bg-gradient-to-t from-blue-light-100;
  }
  .blackout--gradient-blue::after {
    @apply bg-gradient-to-t from-blue-gr-60;
  }
  .text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .button-shadow {
    box-shadow: 0px 0px 5px 2px rgba(29, 55, 103, 0.8);
  }
}
